
html body{
  font-family: monospace;
}

html{
  background:url(img/img5.jpg);
  background-size:cover;
}


  }

.collist2 {
  overflow: hidden;
  ;
}

.collist2 .collist-box {
   float: left;
   margin-bottom: 30px;

}

#image{
width: 55%;
}

.container{
  float: left;
}

#counter{
  padding-left: 2rem;
  font-size: 2rem;
  font-family: fantasy;
}
#counter2{
  padding-left: 5rem;
  font-size: 2rem;
  font-family: fantasy;
}

textarea{
width:300px;
height:100px;
max-width:300px;
max-height:100px;

}

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  width: 100px;
  display: inline;
}
.square_btn2{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #0000ff;/*左線*/
  color: #0000ff;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  width: 100px;
  display: inline;
}

.square_btn:active{
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.square_btn2:active{
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

* {
  margin: 0;
  padding: 0;
}

#fadein_area {
  width: 106%;
  display: flex;
}
li {
  width: 30%;
  margin: 5px;
  list-style: none;
  display: inline-block;
}

form{
  padding-top: 2rem;
}

.sharebutton{
  padding-top: 1rem;
  width: 18rem;

}

.downloadbutton{
  padding-top: 6rem;

}
